<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>大家好</string>
		<key>imageName</key>
		<string>01.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>我爱你们</string>
		<key>imageName</key>
		<string>02.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>03</string>
		<key>imageName</key>
		<string>03.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>04</string>
		<key>imageName</key>
		<string>04.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>05</string>
		<key>imageName</key>
		<string>05.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>06</string>
		<key>imageName</key>
		<string>06.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>07</string>
		<key>imageName</key>
		<string>07.jpg</string>
	</dict>
</array>
</plist>
